<div class="portfolio">
    <div class="container">

   


<div class="text-center pt-4">
    <h2 class="text-uppercase mb-3 fs-1 fw-bolder">
        portfolio component

    </h2>
    <div class="d-flex align-items-center justify-content-center mb-3">
        <div class="line me-3 "style="background-color: rgb(44, 62, 80);" ></div>
        <i class="fa-regular fa-star"></i>
        <div class="line ms-3 " style="background-color: rgb(44, 62, 80);" ></div>
       </div>

       <div class="row g-5">
        @for (image of images; track $index) {
  
        <div class="col-lg-4 col-md-6 overflow-hidden">
          <figure
            class="position-relative"
            (click)="showContainer(image, $index)"
          >
            <img [src]="image" alt="ggg" class="w-100 rounded" />
            <figcaption class="rounded">
                <i class="fa-solid fa-plus fw-semibold text-white"></i>
            </figcaption>
          </figure>
        </div>
        }
      </div>
</div>
</div>
<div class="light-container" [class.d-none]="flag" (click)="closeSlie($event)">
    <div class="box" (click)="notCloseSlie($event)">
      <span
        ><i id="prev" class="fa-solid fa-circle-left" (click)="slide(-1)"></i
      ></span>
      <img [src]="srcimg" alt="" class="rounded w-100" />
      <span
        ><i id="next" class="fa-solid fa-circle-right" (click)="slide(1)"></i
      ></span>
      <span>
        <i id="close" class="fa-solid fa-circle-xmark" (click)="flag = true"></i
      ></span>
    </div>
  </div>


</div>