<div class="home d-flex justify-content-center align-items-center text-white">
    <div class="text-center pt-4">
            <div class="text-center">
                <img src="/images/360_F_224869519_aRaeLneqALfPNBzg0xxMZXghtvBXkfIA.png" alt="imges" class="">
            </div>
            <div class="child text-center pt-4 text-white">
                <h2 class="text-uppercase mb-3 fs-1 fw-bolder">start Framework</h2>
                <div class="d-flex align-items-center justify-content-center mb-3">
                    <div class="line me-3 bg-white" ></div>
                    <i class="fa-solid fa-star"></i>
                    <div class="line ms-3 bg-white"></div>
            
                </div>
            </div>
            

            <div class="end">
                Graphic Artist - Web Designer - Illustrator
            </div>
        </div>
        </div>

